//aqui é feito alguns ajustes no layout para melhor adaptação mobile

@media(max-width:776px) {
  
    //alterando o comportamento do flex-container
    .flex-container{flex-wrap:wrap;}

//primeira parte HOME---
    //ajuste no formulario
    #caixaForm{
       z-index: 0;
       position: relative;
       left: 2vh;
       height: 230px;
       width: 92%;

       input{
        height: 20px;
        }

        textarea{
            width: 100%;
            height: 50px;    
        }
        button{

            height: 20px;
        }
    }

    #col-7{
        h1{
           color: rgb(255, 255, 255);
           font-size: 30px;
        }
        h2{
            color: rgb(0, 0, 0);
            font-size: 20px;
        }
    }

//Segunda parte Sobre---
    
    #foto{
        width: 97%;
        height: 300px;
        margin-top: 5%;
        margin-left: 1%;
    }

    //imagem da logo
    #img_01{
        width: 100%;
    }

    // paragrafos
    #p1{
        color: black;
        font-size: 10px;
        padding-top: 0%;
    }

    #p2{
        color: #435F75;
        padding-top: 10%;
        font-size: 20px;
        text-align: justify;
    }

// serviço terceira parte ---
    .bordaSVC{
        margin: 0%;
    }

    #colPedido{
        text-align: center;
        position: relative;
        
    }

    //icones
    .icones{
        width: 30px;
        height: 30px;
        margin-left: 47%;
        margin-top: 3%;
    }

    // texto abaixo dos icones
    .textoIcon{
        font-size: 8px;
    }

    //descrição dos icones
    .subText_icon{
        font-size: 8px;
    }
    //borda dos elementos
    .bordaSVC{
        height: 75px;
    }


    
}


// resposivo para dispositivos menores
@media (max-width:400px) and (max-height:700px) {
    header{
       height: 120vh;
    }

// serviço terceira parte ---
a    #colPedido{
        text-align: center;
        position: relative;
        top: -135vh;
    }

    

}

// @media(min-width:150px) and (min-height:1086px){
//     #whats{
//         width:100px; 
//         height:100px;
//     }
//   }
  