//aqui é feito alguns ajustes no layout para melhor adaptação mobile


@media(max-width:776px) {
  
    //alterando o comportamento do flex-container
    .flex-container{flex-wrap:wrap;}

    //ajuste no formulario
    #caixaForm{
       z-index: 0;
       position: relative;
       left: 2vh;
       height: 350px;
       width: 92%;
    }

    #col-7{
        h1{
           color: rgb(217, 255, 0);
           font-size: 30px;
        }
        h2{
            color: rgb(0, 0, 0);
            font-size: 20px;
        }
    }
}



// @media(min-width:150px) and (min-height:1086px){
//     #whats{
//         width:100px; 
//         height:100px;
//     }
//   }
  