*{
    padding: 0;
    margin: 0;
}

//estilos universais---
html{
    scroll-behavior: smooth;
}



header{
    width: 100%;
    height: 100vh;
    background-color: #9AADBD;
}

//container responsive
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    align-items: flex-start;
    align-content: flex-start;
    height: auto;
    width: 100%;
    
    
    #col-7{
        width: 200%;
        height:auto;
        // border: 1px solid;
      
        padding-left: 10%;
        padding-top: 7%;
       
    }

    .col{
        width: 100%;
        height: auto;
        // border: 1px solid;
    }
    
}

//Primeira parte HOME--

// titulo  h1
#t1{
    font-size: 50px;
    color: white; 
}

//barra de navegação
nav {
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    width: 100%;
    height: 8vh;

 
    .item-nav {
        letter-spacing: 3px;
        margin-left: 42px;
    }
  
    .nav-list {
        list-style: none;
        display: flex;
    }

    a{
        color: white;
        text-decoration: none;
    }

    a:hover{
        color: blue;
    }
}  

//caixa que contem todo o formulario
#caixaForm{
    color: #435F75;
    margin-top: 5%;
    border-radius: 5%;
    width: 350px;
    height: 450px;
    background-color: white;
    display: flex;
    align-items: center ;
    justify-content:center ;



    input{
        color: #435F75;
        padding-left: 20px;
        border-radius: 7px;
        width: 91%;
        height: 40px;
        margin-top: 1%; 
        font-weight: bold; 
    }

    textarea{
        color: #435F75;
        width: 100%;
        height: 100px;
        margin-top: 1%;
        font-weight: bold;      
    }
    button{
        background-color: #435F75;
        color: white;
        font-weight: bold;
        margin-top: 1%;
        width: 100%;
        height: 40px;
    }
}



//Segunda parte Sobre---

#sobre{
    flex-wrap:wrap;
    height: 100vh;
    
}

//titulo h1
#t2{ 
    color: #435F75;
    padding-top: 4%;
    text-align: center;
    animation-name: Colorunderline;
}



// paragrafo
#p2{
    color: #435F75;
    padding-top: 16%;
    font-size: 25px;
    margin: 2%;
    text-align: justify;
}

// div que contem a foto
#foto{
    width: 450px;
    height: 300px;
    border: 1px solid;
    margin-top: 12%;
    margin-left: 15%;
}



// serviço terceira parte ---
#servico{
    flex-wrap:wrap;
    height: 100vh;
    background-color: #EFF0F5;
}

//colunas

#colPedido{
    text-align: center;
    position: relative;
   
}

//borda dos elementos
.bordaSVC{
    height: 115px;
    margin: 10%;
    border: 1px solid rgb(206, 200, 200);
}

//icones
.icones{
    width: 50px;
    height: 50px;
    margin-left: 41%;
    margin-top: 5%;
}

// texto abaixo dos icones
.textoIcon{
    text-align: center;
    font-weight:bold;
}

//descrição dos icones
.subText_icon{
    font-size: 10px;
    text-align: center;
}

//perguntas quarta parte

#perguntas{
    background-color: red;
}



							