*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

h1{
    font-size: 50px;
 }

header{
    width: 100%;
    height: 100vh;
    background-color: #9AADBD;
}

//container responsive
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    align-items: flex-start;
    align-content: flex-start;
    height: 700px;
    width: 100%;
    
    
    #col-7{
    
        width: 200%;
        height:auto;
        // border: 1px solid;
      
        padding-left: 10%;
        padding-top: 7%;

       
    }
    .col{
        width: 100%;
        height: auto;
        // border: 1px solid;
    }
    
}


//barra de navegação
nav {
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    width: 100%;
    height: 8vh;

 
    .item-nav {
        letter-spacing: 3px;
        margin-left: 42px;
    }
  
    .nav-list {
        list-style: none;
        display: flex;
    }

    a{
        color: white;
        text-decoration: none;
    }

    a:hover{
        color: blue;
    }
}  

//caixa que contem todo o formmulario
#caixaForm{
    color: #435F75;
    margin-top: 5%;
    border-radius: 5%;
    width: 350px;
    height: 450px;
    background-color: white;
    display: flex;
    align-items: center ;
    justify-content:center ;



    input{
        color: #435F75;
        padding-left: 20px;
        border-radius: 7px;
        width: 91%;
        height: 40px;
        margin-top: 1%; 
        font-weight: bold; 
    }

    textarea{
        color: #435F75;
        width: 100%;
        height: 100px;
        margin-top: 1%;
        font-weight: bold;      
    }
    button{
        background-color: #435F75;
        color: white;
        font-weight: bold;
        margin-top: 1%;
        width: 100%;
        height: 40px;
    }
}


//sobre segunda parte da pagina

#sobre{
    flex-wrap:wrap;
    h1{
        text-align: center;
    }
}


// serviço terceira parte

#servico{
    background-color: red;
}